<div  class="padding" ng-controller="AddPronoCtrl">
    <h1 class="content-padded">{{ match.team_one }} vs {{ match.team_two }}</h1>
    <h2 class="content-padded">Cote du match</h2>
    <div class="prono-cotes">
        Victoire {{ match.team_one }} : {{ match.cote_one }}
        <br>
        Match nul : {{ match.cote_two }}
        <br>
        Victoire {{ match.team_two }} : {{ match.cote_three }}
    </div>
    <h2 class="content-padded">Pronostique</h2>
    <form name="form-prono" class="form-prono" ng-submit="addProno()">
        <input type="number" name="score-one" placeholder="{{ match.team_one }}" ng-model="prono.teamOne">
        <input type="number" name="score-two" placeholder="{{ match.team_two }}" ng-model="prono.teamTwo">
        <button class="btn btn-positive btn-block">Valider</button>
    </form>
</div>