<div  class="padding" ng-controller="AddPronoCtrl">
    <h1 class="content-padded">Guingamp vs Lorient</h1>

    <br>

    <h2 class="content-padded">Cote du match</h2>
    <p>
        Victoire Guingamp : 3
        <br>
        Match nul : 3
        <br>
        Victoire Lorient : 3
    </p>

    <br>

    <h2 class="content-padded">Pronostique</h2>
    <form ng-submit="addProno()">
        <input type="text" placeholder="Guingamp">
        <input type="text" placeholder="Lorient">
        <button class="btn btn-negative btn-block">Valider</button>
    </form>
</div>