<div class="padding">    
    <h1 class="content-padded">Classement</h1>

    <div class="segmented-control">
        <span class="control-item">
            #
            <br><br>
            1
            <br><br>
            2
        </span>
        <span class="control-item">
            Equipe
            <br><br>
            Lyon
            <br><br>
            Marseille
        </span>
        <span class="control-item">
            Pts
            <br><br>
            45
            <br><br>
            44
        </span>
        <span class="control-item">
            J
            <br><br>
            21
            <br><br>
            21
        </span>
        <span class="control-item">
            G
            <br><br>
            14
            <br><br>
            14
        </span>
        <span class="control-item">
            N
            <br><br>
            3
            <br><br>
            2
        </span>
        <span class="control-item">
            P
            <br><br>
            4
            <br><br>
            5
        </span>
        <span class="control-item">
            Diff
            <br><br>
            28
            <br><br>
            21
        </span>
    </div> 




<table class="table table-striped table-bordered table-hover tablesorter" id="rideStatTab">
			<thead>
				<tr>
					<th class="header"><span class="littlePaddingLeft">#</span></th>
					<th class="header"><span class="littlePaddingLeft">Equipe</span></th>
					<th class="header"><span class="littlePaddingLeft">Pts</span></th>
					<th class="header"><span class="littlePaddingLeft">J</span></th>
					<th class="header"><span class="littlePaddingLeft">G</span></th>
					<th class="header"><span class="littlePaddingLeft">N</span></th>
					<th class="header"><span class="littlePaddingLeft">P</span></th>
					<th class="header"><span class="littlePaddingLeft">diff</span></th>
				</tr>
			</thead>
			<tbody>
																						<tr>
													<td>1</td>
							<td>Lyon</td>
							<td>45</td>
							<td>21</td>
							<td>14</td>
							<td>3</td>
							<td>4</td>
							<td>28</td>
						</tr>
																		<tr>
													<td>2</td>
							<td>Marseille</td>
							<td>44</td>
							<td>21</td>
							<td>14</td>
							<td>2</td>
							<td>5</td>
							<td>21</td>
						</tr>
																		<tr>
													<td>3</td>
							<td>PSG</td>
							<td>41</td>
							<td>21</td>
							<td>11</td>
							<td>8</td>
							<td>2</td>
							<td>19</td>
						</tr>
																		<tr>
													<td>4</td>
							<td>Saint-Etienne</td>
							<td>40</td>
							<td>21</td>
							<td>11</td>
							<td>7</td>
							<td>3</td>
							<td>11</td>
						</tr>
																		<tr>
													<td>5</td>
							<td>Monaco</td>
							<td>36</td>
							<td>21</td>
							<td>10</td>
							<td>6</td>
							<td>5</td>
							<td>6</td>
						</tr>
																		<tr>
													<td>6</td>
							<td>Montpellier</td>
							<td>32</td>
							<td>21</td>
							<td>9</td>
							<td>5</td>
							<td>7</td>
							<td>4</td>
						</tr>
																		<tr>
													<td>7</td>
							<td>Bordeaux</td>
							<td>32</td>
							<td>21</td>
							<td>9</td>
							<td>5</td>
							<td>7</td>
							<td>-2</td>
						</tr>
																		<tr>
													<td>8</td>
							<td>Nantes</td>
							<td>31</td>
							<td>21</td>
							<td>8</td>
							<td>7</td>
							<td>6</td>
							<td>1</td>
						</tr>
																		<tr>
													<td>9</td>
							<td>Rennes</td>
							<td>30</td>
							<td>21</td>
							<td>8</td>
							<td>6</td>
							<td>7</td>
							<td>-3</td>
						</tr>
																		<tr>
													<td>10</td>
							<td>Nice</td>
							<td>28</td>
							<td>21</td>
							<td>8</td>
							<td>4</td>
							<td>9</td>
							<td>-2</td>
						</tr>
																		<tr>
													<td>11</td>
							<td>Reims</td>
							<td>28</td>
							<td>21</td>
							<td>8</td>
							<td>4</td>
							<td>9</td>
							<td>-9</td>
						</tr>
																		<tr>
													<td>12</td>
							<td>Lille</td>
							<td>27</td>
							<td>21</td>
							<td>7</td>
							<td>6</td>
							<td>8</td>
							<td>-1</td>
						</tr>
																		<tr class="danger">
													<td>13</td>
							<td>Guingamp</td>
							<td>25</td>
							<td>21</td>
							<td>8</td>
							<td>1</td>
							<td>12</td>
							<td>-10</td>
						</tr>
																		<tr>
													<td>14</td>
							<td>Lorient</td>
							<td>23</td>
							<td>21</td>
							<td>7</td>
							<td>2</td>
							<td>12</td>
							<td>-6</td>
						</tr>
																		<tr>
													<td>15</td>
							<td>Bastia</td>
							<td>22</td>
							<td>21</td>
							<td>5</td>
							<td>7</td>
							<td>9</td>
							<td>-5</td>
						</tr>
																		<tr>
													<td>16</td>
							<td>Toulouse</td>
							<td>22</td>
							<td>21</td>
							<td>6</td>
							<td>4</td>
							<td>11</td>
							<td>-10</td>
						</tr>
																		<tr>
													<td>17</td>
							<td>Metz</td>
							<td>20</td>
							<td>21</td>
							<td>5</td>
							<td>5</td>
							<td>11</td>
							<td>-11</td>
						</tr>
																		<tr>
													<td>18</td>
							<td>Evian Thonon Gaillard</td>
							<td>20</td>
							<td>21</td>
							<td>6</td>
							<td>2</td>
							<td>13</td>
							<td>-15</td>
						</tr>
																		<tr>
													<td>19</td>
							<td>Lens</td>
							<td>19</td>
							<td>21</td>
							<td>5</td>
							<td>4</td>
							<td>12</td>
							<td>-8</td>
						</tr>
																		<tr>
													<td>20</td>
							<td>Caen</td>
							<td>18</td>
							<td>21</td>
							<td>4</td>
							<td>6</td>
							<td>11</td>
							<td>-8</td>
						</tr>
												</tbody>
		</table>
</div>
        
        
        
        

     

