<div class="padding" ng-controller="ClassementCtrl">
    <h1 class="content-padded">Classement</h1>
    <table class="classement">
        <thead>
            <tr>
                <th>#</th>
                <th>Equipe</th>
                <th>Pts</th>
                <th>J</th>
                <th>G</th>
                <th>N</th>
                <th>P</th>
                <th>Diff</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in classement">
                <td>{{ item.position[0] }}</td>
                <td>{{ item.team[0] }}</td>
                <td>{{ item.pts[0] }}</td>
                <td>{{ item.j[0] }}</td>
                <td>{{ item.g[0] }}</td>
                <td>{{ item.n[0] }}</td>
                <td>{{ item.p[0] }}</td>
                <td>{{ item.diff[0] }}</td>
            </tr>
        </tbody>
    </table>
</div>
        
        
        
        

     

