<div class="padding" ng-controller="PronostiqueCtrl">
    <h1 class="content-padded">Pronostiques</h1>
    <table class="classement">
        <thead>
            <tr>
                <th>#</th>
                <th>Joueur</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, item) in pronostiques">
                <td>{{ key + 1 }}</td>
                <td>{{ item.login }}</td>
                <td>{{ item.point }}</td>
            </tr>
        </tbody>
    </table>
</div>
